# # Environment
# NODE_ENV=development

# # Database
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_NAME=abas_v2
# DB_HOST=postgres
# DB_PORT=5432

# # Prisma
# DATABASE_URL=postgresql://postgres:postgres@postgres:5432/abas_v2

# # JWT Auth
# JWT_SECRET=supersecuredevsecret

# # SMTP Email for user registration
# SMTP_USER=dummybusiness29@gmail.com
# SMTP_PASS=bsrdmzqggxgixxsx

# # image handler
# MINIO_ENDPOINT=minio-api.abas.ph
# MINIO_PORT=443
# MINIO_USE_SSL=true
# MINIO_ACCESS_KEY=fyn0e9dkRpbx5Qn7tQ84
# MINIO_SECRET_KEY=T3xxmCBNyva4WXgYlBdkPgTV1rXUPhcJgoY7ysFt
# MINIO_REGION=abas-ph
# MINIO_PUBLIC_URL=https://minio-api.abas.ph