# Environment
NODE_ENV=development

# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=erp-api
DB_HOST=localhost
DB_PORT=5432

# Prisma
DATABASE_URL=postgresql://postgres:postgres@locahost:5432/erp-api

# JWT Auth
JWT_SECRET=supersecuredevsecret

# SMTP Email for user registration
SMTP_USER=dummybusiness29@gmail.com
SMTP_PASS=bsrdmzqggxgixxsx