body {
  font-family: system-ui, sans-serif;
  font-size: small;
  margin: 0;
  background: #0f172a;
  color: #e5e7eb;
}

header {
  text-align: center;
  padding: 3rem 1rem;
}

/* Center everything and create 34 columns */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 145px);
  gap: 1.5rem;

  justify-content: center;   /* centers the whole grid */
  
  margin: 1rem auto;
  padding: 0 1rem;
}

.card-link {
  background: rgb(125,158,142);
  display: flex;              /* helps center content */
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 150px;               /* fixed width */
  height: inherit;            /* fixed height */

  text-decoration: none;
  color: inherit;
  text-align: center;
  border-radius: 8px;

  padding: 20px;              /* simplified padding */
  box-sizing: border-box;     /* prevents padding from increasing size */

  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.coming-soon-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.back-btn {
  margin-top: 20px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 6px;
}

.open-btn {
  margin-top: 20px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 6px;
}

.card:hover {
  transform: translateY(-4px);
  /* border-color: #38bdf8; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.card-icon {
  width: 40px;       /* adjust as needed */
  height: 40px;      /* adjust as needed */
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Small hint under the card */
.click-hint {
  font-size: 0.8rem;
  color: #a5b4fc;
  margin-top: 0.5rem;
  display: inline-block;
}

.click-link {
  font-size: 0.8rem;
  color: #a5b4fc;
  margin-top: 0.5rem;
  display: inline-block;
}

.card h2 {
  margin-top: 0;
}

footer {
  text-align: center;
  padding: 2rem;
}


/* Make it responsive: 2 columns on medium screens */
@media (max-width: 992px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Make it 1 column on small screens */
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}